version: "3"
services:
  php:
      # Dockerfile 构建
    build: $PWD/php/bulid/php-7.3-fpm
    container_name: php
    ports:
      - 9000:9000
    volumes:
      # 网站根目录
      - /data:/data
      # php 配置文件
      - $PWD/php/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
    links:
      - mysql
      - redis
    restart: always
  mysql:
    image: mysql:8.0.16
      # mysql8.0需要更换认证插件
    command: --default-authentication-plugin=mysql_native_password
    container_name: mysql
      # 配置环境变量
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_ROOT_HOST: "%"
    ports:
      - 3306:3306
    volumes:
      #  mysql 基础配置文件
      - $PWD/mysql/my.cnf:/etc/mysql/my.cnf:ro
      #  mysql 扩展配置文件
      - $PWD/mysql/ext.conf.d:/etc/mysql/ext.conf.d:ro
      # mysql 数据库
      - $PWD/mysql/data:/var/lib/mysql:rw
      # mysql 错误日志
      - $PWD/mysql/log/error.log:/var/log/mysql/error.log:rw
    restart: always
  nginx:
    image: nginx:1.16.0
    container_name: nginx
    ports:
      # 将主机的 80 端口映射到容器的 80 端口
      - 80:80
      # ssl 默认是443端口，因此需要将443端口映射到宿主机上
      - 443:443
    links:
      - php    
    volumes:
      # 同 php 一起共享 /data 目录
      - /data:/data
      # nginx 基础配置文件
      - $PWD/nginx/nginx.conf:/etc/nginx/nginx.conf:ro 
      # nginx 网站文件
      - $PWD/nginx/conf.d:/etc/nginx/conf.d:ro
      # nginx https配置文件
      - $PWD/nginx/cert:/etc/nginx/cert:ro
      # nginx 日志 
      - $PWD/nginx/log:/var/log/nginx:rw
    restart: always
  redis:
    user: redis
    image: redis:5.0.5
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      # redis 配置文件
      - $PWD/redis/redis.conf:/etc/redis/redis.conf:ro
      # redis 持久化数据存储
      - $PWD/redis/data:/data
      # 以配置文件启动 redis
    command: redis-server /etc/redis/redis.conf
    restart: always
