[mysqld]

pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql

secure-file-priv= NULL

symbolic-links=0

#事务隔离级别，默认为可重复读，设置读提交
transaction_isolation = READ-COMMITTED

#数据库默认字符集
character-set-server = utf8mb4

#数据库字符集对应一些排序等规则，注意要和character-set-server对应
collation-server = utf8mb4_general_ci


#连接执行
#设置client连接mysql时的字符集,字符规则,防止乱码
init_connect='SET NAMES utf8mb4'
init_connect='SET collation_connection = utf8mb4_general_ci'

#慢查询sql日志设置
slow_query_log = ON
slow_query_log_file = slow.log
long_query_time = 2
log_output=table

#mysql binlog日志文件保存的过期时间，过期后自动删除
log-bin = mysql-bin
expire_logs_days = 7
!includedir /etc/mysql/conf.d/

